{% extends "user/base.html" %}
{% block content %}

    <div class="content-section login col-8">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <legend>Form Log In</legend>
            </div>
            <div class="form-group row">
                <label for="id_username" class="col-sm-2">Username</label>
                <div class="col-sm-10">
                    <input type="text" for="id_username" name="username" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="id_password" class="col-sm-2">Password</label>
                <div class="col-sm-10">
                    <input type="password" for="id_password" name="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Log In</button>
            </div>
        </form>
        <div class="pt-3">
            <small class="text-muted">
                Need An Acount? <a class="ml-2"href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>

{% endblock content %}