{% extends "user/base.html" %}
{% block content %}
    <div class="content-section register col-8">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <legend class="mb-5">Register Form | Join Today</legend>
                {{ form.as_p }}
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="pt-3">
            <small class="text-muted">
                Already Have An Acount? <a class="ml-2"href="/login">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}