{% extends "user/base.html" %}
{% block content %}

{% if user.is_authenticated %}
    <p>Welcome, <b>{{ user.username }}</b>. Thanks for logging in.</p>
    {% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
<div class="col-6">
<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://giphy.com/embed/ZVik7pBtu9dNS"></iframe>
  </div>
</div>

{% endblock content %}